@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
--bg:#0f172a;
--card:#111827;
--border:#1f2937;

--primary:#6366f1;
--secondary:#22c55e;

--text:#f9fafb;
--text2:#9ca3af;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:var(--bg);
color:var(--text);
}

button{
cursor:pointer;
}

input{
font-family:'Inter',sans-serif;
}